#header
{
	text-align: center;
}

#intro
{
	background-color: grey;
	text-align: center;
}

#body
{
	background-color: grey;
}

#Information
{
	background-color: white;
	text-align: center;
	width: 80%;
	margin: auto;
}