#header
{
	text-align: center;
	font-family: Helvetica;
}

#intro
{
	background-color: grey;
	text-align: center;
}

#body
{
	background-color: grey;
}

#Information
{
	background-color: white;
	text-align: center;
	width: 62%;
	/*height: 30%;*/
	margin: auto;
	font-family: Helvetica;
	border-radius:40px;
	padding: 15px;
	/*padding-top: 10px;
	padding-bottom: 20px;*/
}